# Python venv
venv/
__pycache__/
*.pyc

# Environment variables
.env

# File uploads
uploads/

# OS-specific files
.DS_Store
Thumbs.db

# In root .gitignore
bot/.env
local_tools/backup_config.ini
archives/
